// masanger2 


.masanger__two{
    max-width: 1918px;
    height: 500px;
    @include flex($cross: center, $main: center);
    margin: 0 auto;
    // background: rgb(184, 184, 213);
}



.google{
    width: 17.3125rem;
}

.masanger__block_two{
    height: 18.75rem;
    overflow: hidden;
    width: 1170px;
    border-radius: 60px 0px;
    @include flex($cross: center, $main: center);
    position: absolute;
}

.hamburgers{
    width: 31.875rem;
}

.masanger__hidden{
    @include flex($cross:center, $main: center);
    height: 34.5625rem;
    border-radius: 52px;
    width: 15.75rem;
    overflow: hidden;
    box-shadow: 20px 28px 90px -15px rgba(0, 0, 0, 0.2);
}

.masanger__pading{
    margin-bottom: 60px;
}


.card_texteria{
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #888888;
    max-width: 31.25rem;
    margin-top: 0.9375rem;
    margin-bottom: 1.8125rem;
}



.massanger__subcribe{
    position: relative;
    @include flex($cross: center, $main: end);
}

.masanger__btn1{
    width: 500px;
    height: 60px;
    background: var(--light);
    // color: #CCCCCC;
    border-radius: 13px;
    padding-left: 19px;
}


.masanger__btn2{
    width: 120px;
    height: 50px;
    background: var(--primary);
    color: var(--light);
    border-radius: 13px;
    position: absolute;
    border: inherit;
    margin-right: 0.3125rem;
    // transition: var(--trs);
    &:active{
        cursor: pointer;
        color: var(--primary);
        background: var(--light);
        border: 2px solid var(--primary);
        // transition: var(--trs);
    }
}

.masanger__columbiana{
    width: 68.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.masenger__atribut{
    color: var(--light);
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    margin: 0rem;
    transition: var(--trs);
    /* max-width: 20.3125rem; */
}