.section__btn{
  background: #F16214;
  border-radius: 54px;
  width: 170px;
  height: 50px;
  color: white;
  border: inherit;
  display: flex;
   justify-content: left;
  padding-left: 19px;
  transition: all .6s ease-in-out ;
  margin-bottom: 40px;
  }

  .section__composit{
  // display: flex;
  position: relative;
  /* transition: all .6s ease-in-out ; */
  }

  .section__composit :hover{
  //   border: 2px solid #F16214;
  color: #000;
  cursor: pointer;
  background: white;
  transition: all .6s ease-in-out ;
  border: 2px solid var(--primary);
}

.section__arrow{
  background: #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* right: 0px; */
  top: 5px;
  margin-left: 125px;
}


.section__strok{
  display: flex;
  gap: 23px;
  /* transition: all .6s ease-in-out ; */
  }
  .section__strok :hover{
  background-color: #F16214;
  color: white;
  transition: all .6s ease-in-out ;

}
    
.section__icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #F16214;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .6s ease-in-out ;
  
  background: rgba(241, 98, 20, 0.15);
}
.section{
  @include flex($cross: center,$main: center, $gap: 30px);
  margin: 0 auto;
  // height: 740px;
  height: 900px;
  max-width: 1920px;
  // background: rgb(184, 184, 213);
  padding-bottom: 80px;
}

.section__h1{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 91px;
  margin: 0;
}
.section__text{
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 570px;
  color: #888888;
  margin-top: 15px;
  margin-bottom: 40px;
}

.section_img{
  padding-top: 1.875rem;
  @include flex($cross: center, $main: center);
  padding-right: 15px;
}

.section__title {
  padding-left: 15px;
}

.section__twit{
  text-decoration: none;
  border-radius: 50%;
  
}



// transform input

.section__develop{
  width: 200px;
}
.section__ball{
  margin-left: 0;
  right: 5px;
}