.slider{
    max-width: 1920px;
    height: 754px;
    margin: 0 auto;
    // background: rgb(184, 184, 213);
    @include flex($main: start,);
}

.slider__block{
    @include flex($main: center, $cross: center);
    flex-direction: column;
}

.slider__flex{
    @include flex();
}

.slider__left{
    @include flex($main: center,);
    flex-direction: column;
}

.slider__title{
    @include flex($cross: center, $gap: 15px, $main: center);
    margin-bottom: 3.125rem;

}
.slider__hidden{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    @include flex($main: center, $cross: center);
    overflow: hidden;
}

.slider__button{
    @include flex($gap: 30px, $main: center);
    margin-top: 34px;
}

.slider__btn{
    background: #F16214;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    @include flex($cross: center, $main: center);
    color: white;
    // transition: var(--trs);
    &:active{
        border: 1.5px solid var(--primary);
        color: var(--primary);
        background: var(--light);
        cursor: pointer;
        // transition: var(--trs);
    }
}


// .icon-arrow-left2{
//     width: 21px;
// }

.slider__img{
    display: flex;
    align-items:flex-start;
}

.vegetable{
    width: 383.12px;
    // transform: matrix(0.02, -1, -1, -0.02, 0, 0);
}
.lebanse{
    width: 569px;
}

.Williams__title{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 0.1875rem;
}
.Williams__text{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #888888;
}

.slider__big{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 25px;
    margin-top: 6px;
}

.text__slider{
    // text-align: center;
    max-width: 586px;
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #888888;
    margin: 0 20px;
}