:root{
    --primary: #F16214;
    --brand: #000000;
    --light: #FFFFFF;
    --paragraph: #888888;
    --foot: #F5F5F5;
    --changing: rgba(241, 98, 20, 0.15);

    --block: 1170px;
    --gutter: 10px 10px;


    --font: 'Product Sans';


    --size_small: 13px;
    --size_title: 14px;
    --size_average: 16px;
    --size_big: 40px;


    --btn_rd_small: 50px;
    --btn_rd_big: 54px;


    --trs: all .6s ease-in-out;
}